@media only screen and (min-width: 1381px) {
  #section-catalog .issue:nth-child(6n + 1) {
    margin-left: 0;
  }

  #section-collection .issue:nth-child(10n + 1) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1381px) {
  .issue:nth-child(4n + 1) {
    margin-left: 0;
  }
  .span-1-of-6 {
    width: 23.8%;
  }

  .issue:nth-child(10n + 1) {
    margin-left: 0;
  }

  .span-1-of-12 {
    width: 8.56%;
  }
}

@media only screen and (max-width: 900px) {
  .issue:nth-child(2n + 1) {
    margin-left: 0;
  }
  .span-1-of-6 {
    width: 49.2%;
  }

  .issue:nth-child(6n + 1) {
    margin-left: 0;
  }

  .span-1-of-12 {
    width: 15.33%;
  }

  .btn-nav {
    border-radius: 1.5rem !important;
    padding: 0.15rem 1rem !important;
    line-height: 1 !important;
    margin: 0 5px;
    font-size: 0.75rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .span-1-of-6 {
    width: 100%;
  }

  .issue:nth-child(3n + 1) {
    margin-left: 0;
  }

  .span-1-of-12 {
    width: 32.26%;
  }

  .logo img {
    height: 60px;
    width: auto;
  }

  .btn-nav {
    border-radius: 1.5rem !important;
    padding: 0.15rem 1rem !important;
    line-height: 1 !important;
    margin: 0 5px;
    font-size: 0.5rem !important;
  }

  .main-nav li {
    margin: 0 -5px;
  }
}
